<!DOCTYPE html>
<html lang="en">
{% load static %}
{% include 'shop/navbar.html' %}

<head>
    <title>About</title>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<style>
    .custom {
        font-size: 20px;
    }

    .custom2 {
        text-align: center;
    }
</style>

<body>
    <div class="custom2">
        <h2>About Us</h2>
        <p class="custom">
            NML Nail Arts is a trend lead, innovative nail art destinations, dedicated to using 100% cruelty free
            products with the highest quality.It is born out of passion and its out comes are creative and unique.
        </p>
        <br>
        <h3>It's All About YOU.</h3>
        <p class="custom">
            We fully understand that people visit our studio to feel good, and get pampered.
        </p>
        <p class="custom">
            Whether you come in for the simplest of designs or a pampering selection of nail arts you expect to
            leave feeling good about yourself. We therefore aim to meet that expectation every time and have you
            leaving happier and more satisified than when you came in.
        </p>
        <br>
        <h3>It's All About options.</h3>
        <p class="custom">
            you have the option of traditional or semi permanent treatments, perfect gel or acrylic nails,
            fabulous designs , Shellac or Gelish manicure Whatever your
            needs are, we will discuss each option with you and advise which is the one for you.
        </p>
    </div>
    {% include 'shop/footer.html' %}

</body>

</html>